<!DOCTYPE html>
<html>
<head>
	<script>
	  document.title = "{{title}}"
	</script>
	<link rel="shortcut icon" href="/image/bvm.png" type="image/x-icon">
	<link rel="icon" href="/image/bvm.png" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
	<link rel="stylesheet" href="/LIB/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/fonts/AllerRg/font.css">
</head>
<body id="some">
	<div class="container">
		<div class="row hdr" >
			<div class="col-md-4"><img src="/image/bvm.png" class="logo"></div>
			<div class="col-md-8">
				<p class="bvm">Birla Vishwakarma Mahavidyalaya</p>
				<p class="bvmlib">Library</p>
			</div>
		</div>
	</div>

	{{{body}}}

	
</body>
</html>
