<div class="page-hader">
	<h1	style="text-align:center; margin-top:7%; color:white; font-size:50px;">{404}</h1><br>
</div>

<div style="color:white; text-align:center;">
	<h3>Wanna start again? <h3>
	<a href="/"><button class="btn">127.0.0.1</button></a>
</div>
