	<div class="col-md-offset-4 col-md-4">
		<input type="text" name="id" id="message" placeholder="Enter id">
		<button type="button" class="btn btn-info btn-lg btn1" data-target="#myModal" id="go-btn" onclick="dbload()">Go</button>
	</div>
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div 	class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title" id="modal_title"></h4>
	      </div>
	      <div class="modal-body">
	        <table class="table-fill">
				<thead>
				<tr>
					<th style="text-align:center;">Cards</th>
					<th style="text-align:center;">Books id</th>
					<th style="text-align:center;" class="bname">Book Name</th>
					<th style="text-align:center;"><span class="glyphicon glyphicon-refresh"></span>  Renew</th>
					<th style="text-align:center;"><span class="glyphicon glyphicon-arrow-left"></span>  due date</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Card 1</td>
					<td id="bid0"></td>
					<td id="bname0"></td>
					<td><button type="button" class="btn btn-default btn-sm" id="renew_btn0" onclick="renew(0)"></button></td>
					<td><button type="button" class="btn btn-default btn-sm" id="return_btn0" onclick="return_book(0)"></button></td>

					<td><input type="text" name="bid" class="bid" placeholder="bid" id="bid_in0" /></td>
					<td><button type="button" class="btn btn-default btn-sm" id="issue_btn0" onclick="issue(0)"></button></td>
				</tr>
				<tr>
					<td>Card 2</td>
					<td id="bid1"></td>
					<td id="bname1"></td>
					<td><button type="button" class="btn btn-default btn-sm" id="renew_btn1" onclick="renew(1)"></button></td>
					<td><button type="button" class="btn btn-default btn-sm" id="return_btn1" onclick="return_book(1)"></button></td>

					<td><input type="text" name="bid" class="bid" id="bid_in1" placeholder="bid" /></td>
					<td><button type="button" class="btn btn-default btn-sm" id="issue_btn1" onclick="issue(1)"></button></td>
				</tr>
				<tr>
					<td>Card 3</td>
					<td id="bid2"></td>
					<td id="bname2"></td>
					<td><button type="button" class="btn btn-default btn-sm" id="renew_btn2" onclick="renew(2)"></button></td>
					<td><button type="button" class="btn btn-default btn-sm" id="return_btn2" onclick="return_book(2)"></button></td>

					<td><input type="text" name="bid" class="bid" placeholder="bid" id="bid_in2" /></td>
					<td><button type="button" class="btn btn-default btn-sm" id="issue_btn2" onclick="issue(2)"></button></td>
				</tr>
				<tr>
					<td>Card 4</td>
					<td id="bid3"></td>
					<td id="bname3"></td>
					<td><button type="button" class="btn btn-default btn-sm" id="renew_btn3" onclick="renew(3)"></button></td>
					<td><button type="button" class="btn btn-default btn-sm" id="return_btn3" onclick="return_book(3)"></button></td>

					<td><input type="text" name="bid" class="bid" placeholder="bid" id="bid_in3" /></td>
					<td><button type="button" class="btn btn-default btn-sm" id="issue_btn3" onclick="issue(3)"></button></td>

				</tr>
				</tbody>
			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn2" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
