<div class="container" style="font-size:25px;">

Desing &amp Developed by:



    <div class="row" style="padding-top:15px; padding-bottom:15px">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="/image/nilesh.JPG" height="200" width="200">
                </div>
                <div class="col-md-6">
                    Nilesh Kevlanee<br> Backend developer (node.js)<br>
                    <a href="https://github.com/njkevlani" style="color:white; text-decoration:underline">GitHub</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <img src="/image/abhishek.PNG" height="200" width="200">
                </div>
                <div class="col-md-6">
                    Abhishek Paramar<br> Frontend developer (HTML, Bootstrap)<br>
                    <a href="https://github.com/abhishek67parmar" style="color:white; text-decoration:underline">GitHub</a>
                </div>
            </div>
        </div>
    </div>

    Guided by:
    <div class="row" style="padding-top:15px">
        <img src="/image/kirtisir.PNG" height="200" width="200" style="margin: auto; display:block" >
    </div>
    <div style="text-align:center;">
        Prof. Kirti Sharma
    </div>



</div>
