	<form class="loginForm" method="POST" action="/process?form=login">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6 well">
					<div class="row">
						<img src="/image/eschool.jpg" class="avtar">
					</div>
					<label><b>ID</b></label>
					<input type="text" name="id" placeholder="Enter Id" {{#unless user_error}}value="{{sid}}"{{/unless}}  {{#if user_error}}style="border: 1px solid red;"{{/if}} required>
					{{#if user_error}}<div style="color:red; float:right">Wrong Username</div>{{/if}}
					<label><b>Password</b></label>
					<input type="password" name="password" placeholder="Enter password" required {{#if sid}}{{#unless user_error}}style="border: 1px solid red;"{{/unless}}{{/if}}>
					{{#if sid}}{{#unless user_error}}<div style="color:red; float:right;">Wrong Password</div>{{/unless}}{{/if}}
					<button type="submit" class="loginbtn">Login</button>
					<input type="checkbox" checked="yes"> Remember me
					<div class="row">
						<span class="forgetpsw"><u><a href="#" class="forgetpsw">forget password?</a></u></span>
					</div>
				</div>
			</div>
		</div>
	</form>
