HTML,BODY,#some{
	background-color: #b3ccff;
	font-family: AllerRg;


}

.logo{
	width: 200px;
	display: block;
	margin: auto;
}

.bvm{
	font-size: 49px;
	text-align: center;
	color: white;
}

.bvmlib{
	font-size: 70px;
	text-align: center;
	color: white;
}

.avtar{
	display: block;
	margin: auto;
	border-radius:50%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginbtn{
	width: 100%;
	background-color: #3b5998;
	color: white;
	padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

span.forgetpsw{
	float: right;
	margin-right: 15px;
}
.hdr{
	padding-bottom: 50px;
}

.book{
	text-align: center;
	color: #3b5998;
	font-size: 30px;
	font-weight: 900;
	font-style:normal;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
	margin: auto;
	display: block;
}

table{
	background: white;
	border-radius:3px;
	border-collapse: collapse;
	margin: auto;
	max-width: 600px;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);

}

tr:hover td{
	background-color: #4e5066;
	color:#fff;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;

}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}


.hdr{
	padding-bottom: 50px;
}
.btn1{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #ccc;
    box-sizing: border-box;
    background-color: #3b5998;
}

.btn2{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input.bid{
	height: 20px;
}
